<div class="header">
    <nav class="navbar bg-body-tertiary" style="background-color: #e4e9fd;">
        <form class="container-fluid justify-content-start" >
          <button class="btn btn-outline-success me-2" type="button">Today List</button>
          <button class="btn btn-sm btn-outline-secondary" type="button">Work List</button>
        </form>
      </nav>
</div>